# Exclude the compiled program to keep sizes minimal.
# You can get a compiled version from the github releases page.
.qmake.stash
convert
convert.o
functions.o
converter_specific.o
main.moc
Makefile
